<!DOCTYPE html>
<html lang="es" ng-app="loginApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="author" content="M. Rivas">
  <meta name=”robots” content="Index, Follow">
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="./assets/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="./assets/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="./assets/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="./assets/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="./assets/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="./assets/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="./assets/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="./assets/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="./assets/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="./assets/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="./assets/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicons/favicon-16x16.png">
  <link rel="manifest" href="./assets/favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="./assets/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <title>Adaptive Ipsum</title>
  <!-- Bootstrap core CSS -->
  <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="./assets/css/mdb.min.css" rel="stylesheet">
  <!-- Custom styles -->
  <link href="./assets/css/style.min.css" rel="stylesheet">
  <link href="./assets/css/login.min.css" rel="stylesheet">
  <!-- Index styles -->
  <link href="./assets/css/index.min.css" rel="stylesheet">
  <!-- AngularMaterial CSS-->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
</head>
<body>

  <!-- Main navigation -->
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Inicio</a>
            <span class="sr-only">(current)</span>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#turnos">Turnos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->
  <!-- Full Page Intro -->
  <div class="view" style="background-image: url('./assets/img/fondo.jpeg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row mt-5">
          <!--Grid column-->
          <div class="col-sm-4"></div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-sm-4 mb-4">
            <!--Form-->
            <h2 class="white-text">Gym Fuego interno</h2>
            <!--/.Form-->
          </div>
          <!--Grid column-->
          <div class="col-sm-4"></div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
  <div class="row">
    <div class="container">
      <div class="float-left col-sm-6 mt-5 mb-5">
        <div class="card wow fadeInRight" data-wow-delay="0.3s">
          <div class="card-body" >
            <h4>Acerca de Fuego Interno</h4>
          </div>
        </div>
      </div>
      <div class="float-right col-sm-6 mt-5 mb-5">
        <div class="card wow fadeInRight" data-wow-delay="0.3s">
          <div class="card-body" ng-controller="loginCtrl">
            <!--Header-->
            <div class="text-center">
              <h3 class="white-text">
                <i class="fa fa-user white-text"></i>
                Donde encontrarnos:
              </h3>
            </div>
            <!--Body-->
            <div >
              <iframe style="max-height:100%; width:100%;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3201.9224461808394!2d-64.28843818415154!3d-36.62825337491038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95c2cdab2fb6fa6b%3A0xa0d59150a8385c70!2sRoque+S%C3%A1enz+Pe%C3%B1a+1054%2C+L6304EXG+Santa+Rosa%2C+La+Pampa!5e0!3m2!1ses-419!2sar!4v1530482433661" width="800" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="turnos" class="container">
    <div class="card">
      <div ng-controller="turnoCtrl" ng-init="init()" class="card-body">
        <h4 class="card-title">Registro de turno</h4>
        <form class="form-sample">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <md-card-content>
                  <div layout="row" layout-align="space-between center">
                    <span>Que tipo de actividad?</span>
                    <md-select ng-model="turno.actividad" placeholder="Actividad" class="md-no-underline">
                      <md-option value="crossfit">Crossfit</md-option>
                      <md-option value="funcional">Funcional</md-option>
                    </md-select>
                  </div>
                  <div layout="row" layout-align="space-between center">
                    <span>Que turno ?</span>
                    <md-select ng-model="turno.turno" placeholder="Turno" class="md-no-underline">
                      <md-option value="1">Mañana</md-option>
                      <md-option value="2">Tarde</md-option>
                      <md-option value="3">Noche</md-option>
                    </md-select>
                  </div>
                </md-card-content>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <md-card-content>
                  <div layout="row" layout-align="space-between center">
                    <span>A que horario?</span>
                    <md-select ng-model="turno.horario" placeholder="Horario" class="md-no-underline">
                      <md-option value="1430">14.30 hs</md-option>
                      <md-option value="1500">15.00 hs</md-option>
                      <md-option value="1530">15.30 hs</md-option>
                      <md-option value="1600">16.00 hs</md-option>
                    </md-select>
                  </div>
                  <div layout="row" layout-align="space-between center">
                    <span>Que dia?</span>
                    <md-datepicker ng-model="turno.fecha" md-placeholder="Fecha" md-min-date="turno.minDate" md-max-date="turno.maxDate"  md-date-filter="turno.restriccionesFecha"></md-datepicker>
                  </div>
                </md-card-content>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-2">
              <button type="button" ng-click="guardar()" class="btn btn-success btn-fw"><i class="mdi mdi-file-document"></i>Guardar</button>
            </div>
            <div class="col-sm-2">
              <button type="button" ng-click="clean()" class="btn btn-warning btn-fw"><i class="mdi mdi-refresh"></i>Limpiar</button>
            </div>
            <div class="col-sm-4"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Full Page Intro -->
  <!-- Main navigation -->
  <!--Footer-->

  <footer id="footer" class="page-footer text-center font-small wow fadeIn">
    <!--Copyright-->
    <div class="row">
      <div class="footer-copyright py-3">
        <div class="col-6 float-left">
          <p class="text-uppercase tituloFooter">Footer interesante</p>
        </div>
      </div>
      <!--/.Copyright-->

    </div>
  </footer>
  <!--/.Footer-->
  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="./assets/js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="./assets/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="./assets/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="./assets/js/mdb.min.js"></script>
  <!-- Ionicon JavaScript -->
  <script src="https://unpkg.com/ionicons@4.3.0/dist/ionicons.js"></script>
  <!-- Initializations -->
  <script type="text/javascript">new WOW().init();</script>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
  <!-- UtilJS -->
  <script src="./assets/js/util.js"></script>
  <!-- LoginApp -->
  <script src="./app/login.js"></script>
</body>

</html>
