<form id="turno" (ngSubmit)="guardar()">
  <div class="row ">
    <h2>Reserve su turno ahora</h2>
  </div>
  <div class="row mt-5 mb-5">
    <mat-slide-toggle name="logueado" [(ngModel)]="logueado" [color]="color" [checked]="false" [disabled]="disabled" > Nuevo usuario </mat-slide-toggle>
  </div>
  <div class="row">
    <div class="col">
      <div class="col-sm-6 float-left">
        <span>Seleccione el tipo de actividad</span>
      </div>
      <div class="col-sm-6 float-right">
        <mat-form-field>
          <mat-select name="actividad" [(ngModel)]="actividad" placeholder="Actividad" required>
            <mat-option [value]="1" value="crossfit">Crossfit</mat-option>
            <mat-option [value]="2" value="funcional">Funcional</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col">
      <div class="col-sm-6 float-left">
        <span>Seleccione el turno deseado</span>
      </div>
      <div class="col-sm-6 float-right">
        <mat-form-field>
          <mat-select name="turno" [(ngModel)]="turno" placeholder="Turno" required>
            <mat-option [value]="1" value="1">Mañana</mat-option>
            <mat-option [value]="2" value="2">Tarde</mat-option>
            <mat-option [value]="3" value="3">Noche</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="col-sm-6 float-left">
        <span>Seleccione el horario</span>
      </div>
      <div class="col-sm-6 float-right">
        <mat-form-field>
          <mat-select name="horario" [(ngModel)]="horario" placeholder="Horario" required>
            <mat-option [value]="1300" value="1300">13.00</mat-option>
            <mat-option [value]="1730" value="1730">17.30</mat-option>
            <mat-option [value]="2200" value="2200">22.00</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col">
      <div class="col-sm-6 float-left">
        <span>Seleccione la fecha</span>
      </div>
      <div class="col-sm-6 float-right">
        <mat-form-field class="example-full-width">
          <input name="fecha" matInput [(ngModel)]="fecha" [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Fecha" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngIf="logueado" class="col">
      <div class="col-sm-6 float-left">
        <span>Ingrese su email</span>
      </div>
      <div class="col-sm-6 float-right">
        <mat-form-field class="example-full-width">
          <input name="email" matInput [(ngModel)]="email" placeholder="email" email required>
        </mat-form-field>
      </div>
    </div>
    <div *ngIf="logueado" class="col">
      <div class="col-sm-6 float-left">
        <span>Ingrese el codigo recibido</span>
      </div>
      <div class="col-sm-6 float-right">
        <mat-form-field class="example-full-width">
          <input name="codigo" matInput [(ngModel)]="codigo" placeholder="codigo" required>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row mt-3 mb-5">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 float-right">
      <button mat-raised-button (click)="send_mail($event)" *ngIf="logueado" [disabled]="email === ''" color="accent">Enviar codigo al email</button>
      <button mat-raised-button [disabled]="turno === '' || fecha === '' || horario === '' || actividad === ''" color="primary">Guardar</button>
      <button mat-raised-button (click)="clean($event)" color="warn">Limpiar</button>
    </div>
    <div class="col-sm-4 mt-3 float-left">
      <mat-progress-bar color="color" mode="indeterminate" *ngIf="cargando"></mat-progress-bar>
    </div>
  </div>

</form>
