<footer>
  <div class="container mt-3 mb-3">
    <!--Copyright-->
    <div class="row">
      <h2>Alguno de nuestos sponsors</h2>
    </div>
    <div class="footer-copyright py-3">
      <div class="col-sm-2 float-left">
        <img style="max-height:5em; max-width: 10em;" alt="logo" src="./assets/img/clients/logo1.png">
      </div>

      <div class="col-sm-2 float-left">
        <img style="max-height:5em; max-width: 10em;" alt="logo" src="./assets/img/clients/logo2.png">
      </div>

      <div class="col-sm-2 float-left">
        <img style="max-height:5em; max-width: 10em;" alt="logo" src="./assets/img/clients/logo3.png">
      </div>

      <div class="col-sm-2 float-left">
        <img style="max-height:5em; max-width: 10em;" alt="logo" src="./assets/img/clients/logo4.png">
      </div>

      <div class="col-sm-2 float-left">
        <img style="max-height:5em; max-width: 10em;" alt="logo" src="./assets/img/clients/logo5.png">
      </div>
      <div class="col-sm-2 float-left">
        <img style="max-height:5em; max-width: 10em;" alt="logo" src="./assets/img/clients/logo6.png">
      </div>
    </div>
    <!--/.Copyright-->
  </div>
</footer>
