<div class="row">
  <mat-card class="example-card">
    <mat-card-content>
      <div class="col-sm-6 float-left">
        <h2>Acerca de nuestro team</h2>
        <p class="lead">Nosotros venimos del futuro</p>
        <p>Mediante a la maquina del tiempo de TRUNKS volvimos, para matar a cell y a los giles de los androides</p>
      </div>
      <div class="col-sm-6 float-right">
        <h2>Encontranos</h2>
        <div class="map-responsive">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3201.9224461808394!2d-64.28843818415154!3d-36.62825337491038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95c2cdab2fb6fa6b%3A0xa0d59150a8385c70!2sRoque+S%C3%A1enz+Pe%C3%B1a+1054%2C+L6304EXG+Santa+Rosa%2C+La+Pampa!5e0!3m2!1ses-419!2sar!4v1530482433661" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
